html, body {
    font-family: 'Source Sans Pro', sans-serif;
}

nav form .form-control {
    width: 190px;
}

h1 {
    margin-block-start: 0.66em;
}
h4 {
    margin-block-start: 1em;
}

.odd {
    background-color: rgba(0, 0, 0, 0.07);
}

.navbar {
    margin: 24px 0;
    border-radius: 8px;
}
