.backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position-y: 25%;
    z-index: -1;
}

.overview {
    font-size: 1.2em;
}

.urls_container {
    margin-top: 1.33em;
}

.urls_container .url {
    padding-left: 0.66em;
}

.available .availability .value {
    background-color: #6eee6e;
    color: black;
    padding: 2px 4px;
}
.available_partially .availability .value {
    background-color: #ffe563;
    color: black;
    padding: 2px 4px;
}
.requested .requested_by .value {
    background-color: #ff9063;
    color: black;
    padding: 2px 4px;
}

.sidepanel {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 1.3em;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.07);
}
.sidepanel h1 {
    margin-block-start: 0;
}

.stats-table {
    margin-right: 12px;
    margin-left: 12px;
}

.top-section .col:nth-child(1) {
    padding-left: 0;
}
