.row.g-4>* {
    --bs-gutter-x: 3.33vw;
}
.movie_box, .movie_box .poster {
    width: 96vw;
    max-width: 185px;
}
@media (min-width: 220px) {
    .movie_box, .movie_box .poster {
        width: 46vw;
    }
}
@media (min-width: 340px) {
    .movie_box, .movie_box .poster {
        width: 30vw;
    }
}
@media (min-width: 768px) {
    .movie_box, .movie_box .poster {
        width: 185px;
    }
}

.movie_box_container {
    margin-right: calc(var(--bs-gutter-x,-.75rem)/ -2);
    margin-left: calc(var(--bs-gutter-x,-.75rem)/ -2);
}
@media (min-width: 576px) {
    .container, .container-sm {
        max-width: 100% !important;
    }
}

.movie_box_container {
    font-size: calc(0.6rem + 1vw);
}
.movie_box_container h5 {
    font-size: calc(0.8rem + 1vw);
}
@media (min-width: 768px) {
    .movie_box_container {
        font-size: 1rem;
    }
    .movie_box_container h5 {
        font-size: 1.25rem;
    }
}

.movie_box {
    text-decoration: none;
    color: #333;
}
.movie_box.available .poster, .available .this.poster {
    border-bottom: 7px solid #6eee6e;
}
.movie_box.available_partially .poster, .available_partially .this.poster {
    border-bottom: 7px solid #ffe563;
}
.movie_box.requested .poster, .requested .this.poster {
    border-bottom: 7px solid #ff9063;
}
.poster {
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2) !important;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.movie_box .poster {
    margin-bottom: 10px;
}
.card {
    border: none;
}
.card-title {
    margin-bottom: .3rem;
}
.card-body {
    padding: 0.7rem 1rem;
}
.card-body p {
    margin-bottom: 0;
}
.suggested h1 {
    margin-block-start: 1em;
    margin-block-end: 0.66em;
}
